<div class="container"  style=" overflow-x:auto;overflow-y:hidden">

  <div class="row " style="padding:30px" >

    <div class=" col-md-6 text-left">
      <h2 style="margin-bottom:0px; ">Uploads</h2>
    </div>
    <div class="col-md-6 ">
    </div>
  </div>

  <div class="row justify-content-md-center" style="padding:30px" >

    <div class=" col-md-6 text-center" style="min-width: 200px; padding:20px;">
      <span class="text-center" style="font-size:2rem">
        <i class="fa fa-file-text-o fa-5x"></i>
      </span> <br><br>
      <div class="fileinput fileinput-new" data-provides="fileinput" >
          <span class="btn  btn-file btn-primary" style="width:100% !important"><span>Updated contract : </span><input type="file" (change)="updateContract($event);" accept=".csv"/></span>
      </div>
    </div>

    <div class="col-md-6 text-center"  style="min-width: 200px; padding:20px;">
      <span class=""  style="font-size:2rem">
        <i class="fa fa-line-chart fa-5x"></i>
      </span><br><br>
      <div class="fileinput fileinput-new" data-provides="fileinput" style="width:100%">
          <span class="btn  btn-file  btn-primary" style="width:100% !important"><span>Updated daily entry : </span><input type="file" (change)="updateTracker($event);"  accept=".csv"/></span>
      </div>
    </div>

  </div>

  <div class="row justify-content-md-center" style="padding:30px" >

    <div class=" col-md-6 text-center">
      <div class="card">
        <div class="card-header">
          <h5>Contract Tracker</h5>
        </div>
        <div class="card-block text-center" style="height: 350px; overflow-y:auto" >

          <table class="table-striped table-hover" width="100%" cellpadding="0" cellspacing="0" >
            <thead  style="background-color:#dcefff">
              <tr>
                <th  class="text-center">S.no.</th>
                <th  class="text-center">File name</th>
                <th  class="text-center">Uploader</th>
                <th  class="text-center">Download</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>Contract.csv</td>
                <td>Tom Eleven</td>
                <td style="color:#0275d8">

                  <a class="nav-link" (click)='openURL("https://s3.ap-south-1.amazonaws.com/qci-coal-dashboard/Templates/Contract%20Upload%20Template.csv")'>
                     <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>

              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-header">
          <h5>Daly Entry Tracker</h5>
        </div>
        <div class="card-block" style="height: 350px; overflow-y:auto" >

          <table class="table-striped table-hover" width="100%" cellpadding="0" cellspacing="0" >
            <thead  style="background-color:#dcefff">
              <tr>
                <th  class="text-center">S.no.</th>
                <th  class="text-center">File name</th>
                <th  class="text-center">Uploader</th>
                <th  class="text-center">Download</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>Contract.csv</td>
                <td>Tom Eleven</td>
                <td style="color:#0275d8">

                  <a class="nav-link" (click)='openURL("https://s3.ap-south-1.amazonaws.com/qci-coal-dashboard/Templates/Process%20Tracker%20Template.csv")'>
                     <i class="fa fa-download" aria-hidden="true"></i>
                  </a>

                </td>

              </tr>

            </tbody>
          </table>


        </div>
      </div>
    </div>

  </div>


  <div style="padding-bottom:50px;">
  </div>

</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Update summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:300px; overflow: auto ">

        <i class="fa fa-arrow-right" aria-hidden="true"></i>  {{updatedData.name1}} <b>{{updatedData.value1}}</b> <br>
        <br>
        <!-- lllllllllllllllllllllllllllllllll -->

        <div id="accordion" role="tablist">

          <div  *ngIf='updatedData.value2.length' class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{updatedData.name2}} #{{updatedData.value2.length}}
                </a>
              </div>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b *ngFor='let cData of updatedData.value2' > <br> <span style="margin-left:60px" > {{cData}}  </span></b> <br>
              </div>
            </div>
          </div>

          <div  *ngIf='updatedData.value3.length' class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                  {{updatedData.name3}} #{{updatedData.value3.length}}
                </a>
              </div>
            </div>

            <div id="collapseOne3" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b *ngFor='let cData of updatedData.value3' > <br> <span style="margin-left:60px" > {{cData}}  </span></b> <br>
              </div>
            </div>
          </div>

          <div  *ngIf='updatedData.value4.length' class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne">
                  {{updatedData.name4}} #{{updatedData.value4.length}}
                </a>
              </div>
            </div>

            <div id="collapseOne4" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b *ngFor='let cData of updatedData.value4' > <br> <span style="margin-left:60px" > {{cData}}  </span></b> <br>
              </div>
            </div>
          </div>

          <div *ngIf='updatedData.value5.length' class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne">
                  {{updatedData.name5}} #{{updatedData.value5.length}}
                </a>
              </div>
            </div>

            <div id="collapseOne5" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b *ngFor='let cData of updatedData.value5' > <br> <span style="margin-left:60px" > {{cData}}  </span></b> <br>
              </div>
            </div>
          </div>

          <div  *ngIf='updatedData.value6.length' class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" href="#collapseOne6" aria-expanded="true" aria-controls="collapseOne">
                  {{updatedData.name6}} #{{updatedData.value6.length}}
                </a>
              </div>
            </div>

            <div id="collapseOne6" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b *ngFor='let cData of updatedData.value6' > <br> <span style="margin-left:60px" > {{cData}}  </span></b> <br>
              </div>
            </div>
          </div>

          <div  *ngIf='updatedData.value7.length' class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" href="#collapseOne7" aria-expanded="true" aria-controls="collapseOne">
                  {{updatedData.name7}} #{{updatedData.value7.length}}
                </a>
              </div>
            </div>

            <div id="collapseOne7" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b *ngFor='let cData of updatedData.value7' > <br> <span style="margin-left:60px" > {{cData}}  </span></b> <br>
              </div>
            </div>
          </div>

          <div  *ngIf='updatedData.value8.length' class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" href="#collapseOne8" aria-expanded="true" aria-controls="collapseOne">
                  {{updatedData.name8}} #{{updatedData.value8.length}}
                </a>
              </div>
            </div>

            <div id="collapseOne8" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <b *ngFor='let cData of updatedData.value8' > <br> <span style="margin-left:60px" > {{cData}}  </span></b> <br>
              </div>
            </div>
          </div>


        </div>


        <!-- lllllllllllllllllllllllllllllllll -->

         <br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
        <button type="button" class="btn btn-success" (click)='proceed()'   data-dismiss="modal"  >Proceed with update </button>
      </div>
    </div>
  </div>
</div>
