<div class="container" >

  <div id="accordion" role="tablist" aria-multiselectable="true">

  <div class="row justify-content-md-center" >
    <div class="col-md-6" >
      <app-sm1></app-sm1>
    </div>
    <div class="col-md-6" >
      <div class="row justify-content-md-center" >
        <div  class="col-md-12">
          <app-sm2></app-sm2>
        </div>
        <!-- <div  class="col-md-6">
          <app-sm4></app-sm4>
        </div> -->
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center" >

    <div class="col-md-6 height400" >
      <app-sm3></app-sm3>
    </div>

    <div class="col-md-6 height400" >
      <app-sm4></app-sm4>
    </div>

  </div>

  </div>
</div>
