<div *ngIf='display' class="container"  style=" overflow-x:auto;overflow-y:hidden">
  <h2>Tracker</h2>

  <div class="card" >
    <div class="card-header">

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filter
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <b> {{date1}} &nbsp; {{date2}} </b>

    </div>

    <div class="collapse" id="collapseExample" >
      <div class="card-block">

        <!-- <div class="form-group row" style="padding-top:10px" >
          <label for="example-datetime-local-input" class="col-2 col-form-label text-center">Initial date</label>
          <div class="col-6">
            <input class="form-control" type="date" id="example-datetime-local-input" [(ngModel)]='date1' >
          </div>
        </div> -->

        <div class="form-group row">
          <label for="example-datetime-local-input" class="col-2 col-form-label text-center">End date</label>
          <div class="col-6">
            <input class="form-control" type="month" id="example-datetime-local-input"  [(ngModel)]='date2' format="dd/MM/yyyy">
          </div>
          <div class="3">
            <button type="button" class="btn btn-primary" (click)="searchByDate()" >Search</button>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div style="padding-bottom:50px;">
  </div>

  <table class="table-striped  table-responsive" id="example" cellspacing="0" width="100%">
    <thead  style="background-color:#dcefff">
      <tr>
        <th>Sno.</th>
        <th>Subsidiary</th>
        <th>Location</th>
        <th>Mode</th>
        <th>Customer</th>
        <th>Plant</th>
        <th>Days</th>
        <th>Cost</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
        <th>26</th>
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>
        <th>31</th>


      </tr>
    </thead>
    <tfoot>
     <tr>
       <th>Sno.</th>
       <th>Subsidiary</th>
       <th>Location</th>
       <th>Mode</th>
       <th>Customer</th>
       <th>Plant</th>
       <th>Days</th>
       <th>Cost</th>
       <th>1</th>
       <th>2</th>
       <th>3</th>
       <th>4</th>
       <th>5</th>
       <th>6</th>
       <th>7</th>
       <th>8</th>
       <th>9</th>
       <th>10</th>
       <th>11</th>
       <th>12</th>
       <th>13</th>
       <th>14</th>
       <th>15</th>
       <th>16</th>
       <th>17</th>
       <th>18</th>
       <th>19</th>
       <th>20</th>
       <th>21</th>
       <th>22</th>
       <th>23</th>
       <th>24</th>
       <th>25</th>
       <th>26</th>
       <th>27</th>
       <th>28</th>
       <th>29</th>
       <th>30</th>
       <th>31</th>

     </tr>
 </tfoot>
    <!-- <tbody>

      <tr *ngFor="let track of tracker  ;  let i = index ">
        <td>{{i + 1}}.</td>
        <td>{{track.d1}}</td>
        <td>{{track.d2 }}</td>
        <td>{{track.d3}}</td>
        <td class="">
          <input type="text" name=""  [(ngModel)]='track.d15' value={{track.d15}}>
        </td>
        <td>{{track.d4}}</td>
        <td>{{parseint(track.d5/track.d15)}} </td>
        <td>{{track.d6}}</td>
        <td>{{track.d7}}</td>
        <td>{{track.d8}}</td>
        <td>{{track.d9}}</td>
        <td>{{track.d10}}</td>
        <td>{{track.d11}}</td>
        <td>{{track.d12}}</td>
        <td>{{track.d13}}</td>

      </tr>

    </tbody> -->
  </table>
</div>
