<div *ngIf='display' class="container"  style=" overflow-x:auto;">


  <div class="row " style="padding:30px" >
    <div class=" col-md-4 text-left">
      <h2 style="margin-bottom:0px; ">Contract</h2>
      <p style="color:grey"> <i> last updated : 12/12/17 track</i></p>
    </div>
    <div class=" col-md-8 text-right">

      <div class="fileinput fileinput-new" data-provides="fileinput" >
          <span class="btn  btn-file"><span>Updated contract : </span><input type="file" (change)="updated($event);" accept=".csv"/></span>
      </div>
    </div>

  </div>

  <table class="table-striped  table-responsive  " id="example" cellspacing="0" width="100%">
    <thead  style="background-color:#dcefff">
      <tr>
        <th>S.no.</th>
        <th>Subsidiary</th>
        <th>Location</th>
        <th>Primary Mode</th>
        <th>Secondary Mode</th>
        <th>Customer Name</th>
        <th>Unit/Plant</th>
        <th>Days</th>
        <th>Annual QTY</th>
        <th>Contract Signing Date</th>
        <th>Remaining Volume (Metric Tonne)</th>
        <th>Enforcement Date</th>
        <th>Auction type</th>
        <th>FSA Number</th>
        <th>FSA Date</th>
        <th>Commencement Status</th>
        <th>ANNEXURE-III</th>


      </tr>
    </thead>
    <tfoot>
     <tr>
       <th>S.no.</th>
       <th>Subsidiary</th>
       <th>Location</th>
       <th>Primary Mode</th>
       <th>Secondary Mode</th>
       <th>Customer Name</th>
       <th>Unit/Plant</th>
       <th>Days</th>
       <th>Annual QTY</th>
       <th>Contract Signing Date</th>
       <th>Remaining Volume (Metric Tonne)</th>
       <th>Enforcement Date</th>
       <th>Auction type</th>
       <th>FSA Number</th>
       <th>FSA Date</th>
       <th>Commencement Status</th>
       <th>ANNEXURE-III</th>

     </tr>
 </tfoot>
    <tbody>

      <tr *ngFor="let track of tracker  ;  let i = index ">
        <td>{{i + 1}}.</td>
        <td>{{track.d1}}</td>
        <td>{{track.d2 }}</td>
        <td>{{track.d3}}</td>
        <td>{{track.d4}}</td>
        <td>{{track.d5}}</td>
        <td>{{track.d6}}</td>
        <td class="">
          <input type="text" name=""  [(ngModel)]='track.d16' value={{track.d16}}  style="width:50px !important">
        </td>
        <td>{{parseint(track.d7/track.d16)}} </td>
        <td>{{track.d8}}</td>
        <td>{{track.d9}}</td>
        <td>{{track.d10}}</td>
        <td>{{track.d11}}</td>
        <td>{{track.d12}}</td>
        <td>{{track.d13}}</td>
        <td>{{track.d14}}</td>
        <td>{{track.d15}}</td>

      </tr>

    </tbody>
  </table>
</div>
