<div class="container" >

  <div class="row " style="padding-top:20px" >
    <div class=" col-md-6 text-left">
      <h2 style="margin-bottom:0px; ">Summary {{psu}}</h2>
      <br>
    </div>

    <div class=" col-md-6 " style="float:right" >
      <div class="dropdown"style="float:right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select subsidiary
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="padding-right:2px !important">
          <a *ngFor='let psu of PSUArray' class="dropdown-item"  (click)="psuSummary(psu._id, psu.name)">{{psu.name}}</a>
        </div>
      </div>
    </div>


  </div>

  <router-outlet></router-outlet>

</div>
