<div  class="row justify-content-md-center" >

  <div class="col-12" >
    <div class="box-radius text-center">
      <div class="text-center"  style="height:1.9rem; width:100%; color: white; background-color: #525252; font-size:1.5rem">
        Sample Wise Analysis
      </div>
      <br>
      <div  class="row justify-content-md-center" >

        <div class="col-6 text-right" >

            <b> <p>Collected : </p></b>
            <b> <p>Communicated : </p></b>
            <b> <p> Dispute Raised : </p></b>
            <b> <p>Delay in Reports : </p></b>


        </div>
        <div class="col-6 text-left" >
          <span class="text-style1" > &nbsp; {{data1}} &nbsp; </span><br>
          <span class="text-style2" > &nbsp; {{data2}} &nbsp; </span><br>
          <span class="text-style3" > &nbsp; {{data3}} &nbsp; </span> &nbsp; <b> </b> <br>
          <span class="text-style4" > &nbsp; {{data5}} &nbsp; </span> &nbsp; <b> </b> <br>
        </div>

      </div>

      <!-- <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated  bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]='data6'>
          <b>{{data6}}%</b>
        </div>
      </div> -->

      <div class="progress" style="background-color: #0275d8 !important;   width: 95% !important;margin: auto;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]='data4'>
          <span> <b>{{data4}}%</b></span>
        </div>
      </div>

      <br>

    </div>
  </div>

</div>
