.box-radius{

  width: 100%;
  border : 6px solid #525252;
  border-radius: 15px;
  margin: 10px;
  /*color: #469846;*/
}
.text-style1{
  font-size: 1.4rem;
  background-color: #469846;
  color: white;
  border-radius: 15px;
}
.text-style2{
  font-size: 1.4rem;
  background-color: #0275D8;
  color: white;
  border-radius: 15px;
}
.text-style3{
  font-size: 1.4rem;
  background-color: #D9534F;
  color: white;
  border-radius: 15px;
}
