
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home/']">Home</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home/contract']"> Contract </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home/upload']"> Upload </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home/tracker']"> Tracker </a>
      </li>
    </ul>
  </div>
</nav>

<!-- <a [routerLink]="['/home/tracker']">Tracker</a>
<a [routerLink]="['/home/contract']">Contract</a> -->



<router-outlet></router-outlet>
