
<nav class="navbar navbar-toggleable-md  navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home/']">Home</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [routerLinkActive]="['active']">
        <strong><a class="nav-link" [routerLink]="['/home/contract']"> Contract </a></strong>
      </li>
      <li [routerLinkActive]="['active']">
        <strong><a class="nav-link" [routerLink]="['/home/upload']"> Upload </a></strong>
      </li>
      <li [routerLinkActive]="['active']">
        <strong><a class="nav-link" [routerLink]="['/home/tracker']"> Tracker </a></strong>
      </li>
      <li [routerLinkActive]="['active']">
        <strong><a class="nav-link" [routerLink]="['/home/summary']"> Summary </a></strong>
      </li>
    </ul>

  </div>

  <div class="nav navbar-nav navbar-right">
    <a class="navbar-brand" style="color: white; cursor:pointer" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-user-o" aria-hidden="true" ></i> </a>
    <a class="navbar-brand" style="color: white; cursor:pointer" (click)='logout()' > <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height:300px; overflow: auto ">
          <div class="form-group">
            <br>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Current password" [(ngModel)]='c_pass' required>
            <br>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New password" [(ngModel)]='pass1'  required>
            <br>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password" [(ngModel)]='pass2'  required>
            <br>
            <div style="font-weight:600">{{passwordmsg}}</div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)='updatePassword()' >Update password</button>
        </div>
      </div>
    </div>
  </div>


</nav>

<!-- <a [routerLink]="['/home/tracker']">Tracker</a>
<a [routerLink]="['/home/contract']">Contract</a> -->



<router-outlet></router-outlet>
